<% provide(:title, @user.name) %>
<div class='row'>
  <aside class='col-sm-4 col-sm-offset-2'>
    <section class='user-info'>
      <h1>
        <%= gravatar_for(@user) %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
